.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.toolbar-header {
  background: #e2e0e1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right:  1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.grid-header.wj-state-sticky {
  opacity: 0.90;
  background: #e5e5ff;
}

.wj-flexgrid {
  height: 70% !important;
}

.nav-link
{
  cursor: pointer !important;
}

.navbar
{
  margin-bottom: 10px !important;
}

.form-control-search
{
  width: 300px !important;
}
